@model IEnumerable<TeamMVC6.Models.Choice>

@{
    ViewBag.Title = "Choices - Index Page";
}

<h2>Index</h2>

<div id="container">
    <label for="ddlYearTerms"><strong>Select a YearTerm</strong></label><br />
    @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewBag.slItems, new { id = "ddlYearTerms" })
    <br /><br />

    <div id="dvChoiceResults">
        @{ await Html.RenderPartialAsync("_IndexPartial", Model );}
    </div>

</div>  

<div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin-top: 50px; margin-left:20%"></div>

<script>
    var stats = [];
</script>

@foreach (var item in ViewBag.Options)
{
    <script>
        stats.push({
            name: "@item.Key",
            y: @item.Value
        });
    </script>
}

@section Scripts{
    <script type="text/javascript">
    var chartThis = function(){
            $('#container2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Option Choices'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Options',
                    colorByPoint: true,
                    data: stats
                }]
            });

    }

    function loadDependencies(f){
        if(window.jQuery){
            f();
        }else{
            setTimeout(function() {loadDependencies(f)}, 100);
        }
    }
    loadDependencies(chartThis);

    $(document).ready(function () {
        $("#ddlYearTerms").change(function () {
            var termId =  $("#ddlYearTerms").val();
            $("#dvChoiceResults").load('@(Url.Action("GetChoices","Choices",null, null))?Id=' + termId);
        });
    });

    </script>  
}